body{
    background: wheat;
    margin-top: 100px;
}
h1{
    text-align: center;
}
.container{
    border: solid salmon;
    width: 300px;
    height: 300px;
}

ul li{
    list-style: none;
    width: 190px;
    display: flex;
    justify-content: space-between;
    border: solid 1px salmon;
}
/*ul li:hover{    
    position: absolute;
    border: black;
    text-align: center;
    
}*/
button{
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.fa-solid fa-x:hover{
    position:relative;
}

